@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    .conversa {
        padding: 15px;
    }
}

/* GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  min-height: 100vh;
  position: relative;
}


/* MENU CONVERSA */
.container {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
  width: 100vh;
  min-height: 400px;
  opacity: 0.8;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  opacity: 0.1;
  z-index: -1;
}

.container h1 {
  text-align: center;
  color: white;
}

.mensagem-bot {
  color: white;
  text-align: justify;
}
.mensagem-user {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.mensagem-user form {
  display: flex;
  width: 100%;
}

.mensagem-user textarea{
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  background-color: #ccc;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
}

.mensagem-user button {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.mensagem-user button i {
  font-size: 24px;
  color: #999999;
}
.container.hovered {
  display: flex;
  background-color: #1c1c1c;
  color: white;
  backdrop-filter: blur(5px);
  transition: opacity 2s ease;
}


/* MENU AJUDA */
.bot-button {
  display: none;
  position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 30px;
    width: 160px;
    height: 50px;
    cursor: default;
    transition: opacity 0.5s ease;
}
.bot-button p{
  color: #1c1c1c;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;  
}

.logo {
  height: auto;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 27px;
  border-radius: 13px;
  cursor: pointer;
}

.bot-button.hovered {
  display: block;
  background-color: #ccc;
  color: white;
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: opacity 2s ease;
}