@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #181818;
    font-family:'Roboto', Courier, monospace;
    display: flex;
    justify-content: center;
}
.conversa{
    margin-top: 100px;
     border-radius: 20px;
     width: 100vh;
     height: 50vh;
     background: #363636;
     padding: 10px;
     box-shadow: 0 1px 6px rgba(100, 100, 100, 0.5);
 }
